<section>

    {{#each ads}}
    <fieldset>
        <p>Título: {{title}}</p>
    
    <fieldset>
        <legend>Descripción</legend>
        <p>{{description}}</p>
    </fieldset>
    <a href="/ads/deleteAd/{{_id}}">Delete</a>
    </fieldset>
    {{/each}}

</section>