<form action="/ads/new-ad" method="POST">
    <fieldset>
        <legend>Title</legend>
        <input type="text" name="title" placeholder="Title" autofocus>
    </fieldset> 
    <fieldset>
        <legend>Description</legend>
        <textarea name="description" placeholder="Description"></textarea>
    </fieldset>
    <button>Save</button>
</form>