<form action="/ads/new-ad" method="POST">
    <fieldset>
        <legend>Título</legend>
        <input type="text" name="title" placeholder="Title" autofocus>
    </fieldset> 
    <fieldset>
        <legend>Descripción</legend>
        <textarea name="description" placeholder="Description"></textarea>
    </fieldset>
    <input type="button" value="Save">
</form>