<form action="/ads/delete-old" method="POST">

    <label for="ReferenceDate">Fecha de referencia para eliminar: </label>
    <input type="date" name="ReferenceDate" id="ReferenceDate">

    <input type="submit" value="Enviar">

</form>